body {
    font-family: 'Poppins', sans-serif;
}

body::before {
    content: '';
    width: 154vw;
    height: 100vh;
    background: url(./438159-pokemon-mewtwo-wallpaper-legendary-bird-pokemon-art-hd.jpg) center center no-repeat;
    background-size: cover;
    position: fixed;
    z-index: -1;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.pokedex {
    display: flex;
    gap: 30px;
    padding: 30px, 0;
    max-height: 765px;
}